{% extends 'base.html.twig' %}

{% block title %}{{ entity.label }} - {{ budget.label }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/by_functional.css') }}" />
{% endblock stylesheets %}

{% block body %}

<div class="by_function_wrapper">
    
    <div class="bf__header">
        <h1>{{ entity.label }} - {{ budget.label }}</h1>
    </div>
    
    <div class="bf__code_nav">
    
        <div class="bf__functional_nav">
            <h2>Fonction</h2>
            <p>Chaque article du budget est classé par fonction. Ce classement renseigne la tâche ou la fonction qui est exercée par la recette ou la dépense.</p>
            <div class="bf_functional_nav__ancestors">
                {% set code_ancestors = code_ancestors(functionalCode) %}
                {% if code_ancestors|length > 0 %}
                {% for c in code_ancestors %}
                <ul class="tree">
                    <li>
                        {% if c != functionalCode %}
                            <a href="{{ path('budget_by_function', { 
                                'entity_slug': entity.slug, 
                                'year': budget.year, 'version': budget.version,
                                'functionalCode_id': c.id, 
                                'economicalCode_id': economicalCode.id
                            }) }}">
                        {% endif %}
                        {% if c.code is not empty %}
                            {{ c.code }} - {{ c.label }}
                        {% else %}
                            Toutes les fonctions
                        {% endif %}
                        {% if c != functionalCode %}</a>{% endif %}
                {% endfor %}
                {% endif %}
                {% if functionalCode.children|length > 0 %}
                    <ul>
                        {% for c in functionalCode.children %}
                            <li>
                                <a href="{{ path('budget_by_function', { 
                                    'entity_slug': entity.slug, 
                                    'year': budget.year, 'version': budget.version,
                                    'functionalCode_id': c.id, 
                                    'economicalCode_id': economicalCode.id
                                }) }}">{{ c.code }} - {{ c.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {# close the tree #}
                {% for c in code_ancestors %}
                    </li>
                    </ul>
                {% endfor %}
                </div>
        </div>

        <div class="bf__economical_nav">
            <h2>Nature</h2>
            <p>Chaque article du budget est classé par nature: subside, revenu des taxe, etc.</p>

            <div>
                {% set code_ancestors = code_ancestors(economicalCode) %}
                {% if code_ancestors|length > 0 %}
                {% for c in code_ancestors %}
                    <ul class="tree">
                        <li>
                        {% if c != economicalCode %}
                            <a href="{{ path('budget_by_function', { 
                                'entity_slug': entity.slug, 
                                'year': budget.year, 'version': budget.version,
                                'functionalCode_id': functionalCode.id, 
                                'economicalCode_id': c.id
                            }) }}">
                        {% endif %}
                        {% if c.code is not empty %}
                            {{ c.code }} - {{ c.label }}
                        {% else %}
                            Toutes les natures
                        {% endif %}
                        {% if c != economicalCode %}</a>{% endif %}
                {% endfor %}
                {% endif %}
                {% if economicalCode.children|length > 0 %}
                    <ul>
                        {% for c in economicalCode.children %}
                            <li>
                                <a href="{{ path('budget_by_function', { 
                                    'entity_slug': entity.slug, 
                                    'year': budget.year, 'version': budget.version,
                                    'functionalCode_id': functionalCode.id, 
                                    'economicalCode_id': c.id
                                }) }}">{{ c.code }} - {{ c.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {# close the tree #}
                {% for c in code_ancestors %}
                    </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="bf__stats">
        <div class="bf__stats__stat">
            <span class="bf__stats__stat__label">Somme des dépenses</span>

            <span class="bf__stats__stat__data">{{ sum_articles(functionalCode, economicalCode, budget, 'expenses')|localizedcurrency('EUR', 'be-BE') }}</span>
        </div>

        <div class="bf__stats__stat">
            <span class="bf__stats__stat__label">Somme des revenus</span>

            <span class="bf__stats__stat__data">{{ sum_articles(functionalCode, economicalCode, budget, 'revenues')|localizedcurrency('EUR', 'be-BE') }}</span>
        </div>

        <div class="bf__stats__stat">
            <span class="bf__stats__stat__label">Nombre de dépenses</span>

            <span class="bf__stats__stat__data">{{ count_articles(functionalCode, economicalCode, budget, 'expenses') }}</span>
        </div>

        <div class="bf__stats__stat">
            <span class="bf__stats__stat__label">Nombre de revenus</span>

            <span class="bf__stats__stat__data">{{ count_articles(functionalCode, economicalCode, budget, 'revenues') }}</span>
        </div>
    </div>
    
    {% if functionalCode.children|length > 0 %}
    <div class="bf__graph_repartition">
        <canvas class="bf__graph_repatition__graph" id="byFunction" data-repartition="{{ function_repartition_data_js(functionalCode, economicalCode, budget)|escape('html_attr') }}"></canvas>
    </div>
    {% endif %}

    {% if economicalCode.children|length > 0 %}
    <div class="bf__graph_nature">
        {% if count_articles(functionalCode, economicalCode, budget, 'expenses') > 0 %}
        <div class="bf__graph_nature__graph bf__graph_nature__graph--expenses">
            <h3>Nature des dépenses</h3>
            
            <div>
                <canvas id="byNatureExpenses" data-repartition="{{ economical_repartition_data_js(functionalCode, economicalCode, budget, 'expenses')|escape('html_attr') }}"></canvas>
            </div>
            <div class="bf__by_nature__table">
                {% for c in economicalCode.children() %}
                    {% set s = sum_articles(functionalCode, c, budget, 'expenses') %}
                    {% if s > 0 %}
                    <div class="bf__by_nature__table__row">
                        <div class="bf__by_nature__table__cell bf__by_nature__table__cell--label">
                            {{ c }}
                        </div>
                        <div class="bf__by_nature__table__cell bf__by_nature__table__cell--amount">
                           {{ s|localizedcurrency('EUR', 'be-BE') }}
                        </div>
                    </div>
                    {% endif %}
               {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if count_articles(functionalCode, economicalCode, budget, 'revenues') > 0 %}
        <div class="bf__graph_nature__graph bf__graph_nature__graph--revenues">
            <h3>Nature des revenus</h3>
            
            <div>
                <canvas id="byNatureRevenues"  data-repartition="{{ economical_repartition_data_js(functionalCode, economicalCode, budget, 'revenues')|escape('html_attr') }}"></canvas>
            </div>
            
            <div class="bf__by_nature__table">
                {% for c in economicalCode.children() %}
                    {% set s = sum_articles(functionalCode, c, budget, 'revenues') %}
                    {% if s > 0 %}
                    <div class="bf__by_nature__table__row">
                        <div class="bf__by_nature__table__cell bf__by_nature__table__cell--label">
                            {{ c }}
                        </div>
                        <div class="bf__by_nature__table__cell bf__by_nature__table__cell--amount">
                           {{ s|localizedcurrency('EUR', 'be-BE') }}
                        </div>
                    </div>
                    {% endif %}
               {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
        
    <div class="bf__articles">
        <h2>Les articles budgétaires</h2>

        {% if numArticlesExpensesOrdinary > 0 %}
            <h3>Les dépenses ordinaires</h3>

            <div data-list-articles data-num-articles="{{ numArticlesExpensesOrdinary }}" data-load-path="{{ path('articles_by_code', {                       'entity_slug': entity.slug, 
                'year': budget.year, 'version': budget.version,
                'functionalCode_id': functionalCode.id, 
                'economicalCode_id': economicalCode.id,
                'expensesOrRevenues': 'expenses',
                'ordinaryOrExtraordinary': 'ordinary',
                '_format': 'json' }) }}">

            </div>
        {% endif %}

        {% if numArticlesRevenuesOrdinary > 0 %}
            <h3>Les revenus ordinaires</h3>

            <div data-list-articles data-num-articles="{{ numArticlesRevenuesOrdinary }}" data-load-path="{{ path('articles_by_code', {                       'entity_slug': entity.slug, 
                'year': budget.year, 'version': budget.version,
                'functionalCode_id': functionalCode.id, 
                'economicalCode_id': economicalCode.id,
                'expensesOrRevenues': 'revenues',
                'ordinaryOrExtraordinary': 'ordinary',
                '_format': 'json' }) }}">

            </div>
        {% endif %}

        {% if numArticlesExpensesExtraordinary > 0 %}
            <h3>Les dépenses extraordinaires</h3>

            <div data-list-articles data-num-articles="{{ numArticlesExpensesExtraordinary }}" data-load-path="{{ path('articles_by_code', {                       'entity_slug': entity.slug, 
                'year': budget.year, 'version': budget.version,
                'functionalCode_id': functionalCode.id, 
                'economicalCode_id': economicalCode.id,
                'expensesOrRevenues': 'expenses',
                'ordinaryOrExtraordinary': 'extraordinary',
                '_format': 'json' }) }}">

            </div>
        {% endif %}

        {% if numArticlesRevenuesExtraordinary > 0 %}
            <h3>Les revenus extraordinaires</h3>

            <div data-list-articles data-num-articles="{{ numArticlesRevenuesExtraordinary }}" data-load-path="{{ path('articles_by_code', {                       'entity_slug': entity.slug, 
                'year': budget.year, 'version': budget.version,
                'functionalCode_id': functionalCode.id, 
                'economicalCode_id': economicalCode.id,
                'expensesOrRevenues': 'revenues',
                'ordinaryOrExtraordinary': 'extraordinary',
                '_format': 'json' }) }}">

            </div>

        {% endif %}
    </div>
</div>
{% endblock %}




{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/by_functional.js') }}"></script>
{% endblock %}
    