.article-list {
    .article-list__list {
        .article-list__list__row {
            display: flex;
            flex-direction: row;
            
            .article-list__list__row__cell--title {
                width: calc(70% - 1em);
            }
            .article-list__list__row__cell--amount {
                width:  30%;
                margin-left: auto;
                text-align: right;
            }
        }
    }
}

