{% extends 'base.html.twig' %}

{% block title %}Visualiser le budget de ma commune{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Visualisez le budget de votre commune</h1>
    
    <div>Par <a href="https://vega.coop">VEGA</a></div>
    
    <div>
        <h2>Je veux naviguer dans les budgets</h2>
    
        <a class="button" href="{{ path('budget_by_function', { 
                                    'entity_slug':'liege', 
                                    'year': '2012', 'version': 1,
                                    'functionalCode_id': 1, 
                                    'economicalCode_id': 1
                                }) }}">
            Liège - Budget 2012
        </a>
    </div>

    <div>
        <h2>Je veux comprendre ce que je vais voir...</h2>
        <h3>Un budget ?</h3>
        
        <p>
            Chaque année, les élus d'une commune votent un budget. Ce budget prévoit
            toutes les rentrées et toutes les dépenses d'une commune. L'administration 
            ne peut pas dépenser un centime qui ne serait pas prévu par ce budget
        </p>
        
        <p>
            Le budget donne les grandes orientations du pilotage de la commune. Il
            traduit la politique que le bourgmestre et ses échevins veulent lui donner.
        </p>
        
        <p> 
            Votre commune investit dans le vélo ? Vous devriez voir des investissements 
            dans les infrastructures! Les échevins prennent soin des personnes les plus 
            précaires ? Vous devriez voir le budget du CPAS augmenter.
        </p>
        
    </div>
    
    <div>
        <h3>Comment naviguer dans le budget ?</h3>
        
        <p>Dans un budget, chaque dépense et revenu est nommé "un article". Découvrez 
        comment chaque article peut vous parler...</p>
        
        <h4>Ordinaire ou extraordinaire</h4>
        
        <p>
            Le budget est divisé en deux <strong>services</strong>:
        </p>
        
        <ul>
            <li><strong>Le service ordinaire</strong> est composé de toutes les recettes et
                dépenses qui se produisent chaque année. Ce sont, par exemple, toutes les
                dépenses d'entretien, le traitement (salaire) des fonctionnaires, etc.</li>
            <li><strong>Le service extraordinaire</strong> regroupe toutes les recettes et 
                dépenses exceptionnelles. Elles améliorent la commune, créent des nouvelles 
                infrastructures, etc.</li>
        </ul>
        
        <h4>Les codes fonctionnel et économiques</h4>
        
        <p>Chaque article est pourvu de deux codes:</p>
        
        <ul>
            <li><strong>Le code fonctionnel</strong> donne des informations sur la fonction
                de la dépense. Chaque fonction correspond à une tâche: les services de police,
                l'enseignement, la culture, etc.</li>
            <li><strong>Le code économique</strong> donne des informations sur la nature de 
                la dépense. Il peut s'agir du payement d'un salaire, de frais de téléphone, etc.</li>
            
        </ul>
        
        <p>Dans cette application, vous pouvez naviguer par code économique et fonctionnel, pour vous
            permettre de découvrir la fonction et la nature de toutes les dépenses</p>
        
    </div>
    
</div>
{% endblock %}
