.bf__graph_nature {
    display: flex;
    flex-direction: row;
    
    .bf__graph_nature__graph {
        width: 50%;
    }
    
    .bf__by_nature__table {
        .bf__by_nature__table__row {
            display: flex;
            flex-direction: row;
            
            .bf__by_nature__table__cell--label {
                width: 75%;
            }
            
            .bf__by_nature__table__cell--amount {
                margin-left: auto;
                margin-right: 1rem;
                text-align: right;
            }
        }
    }
    
}