.by_function_wrapper {
    display: grid;
    grid-template-areas: 
        "bf_header            bf_header"
        "bf_code_nav          bf_code_nav"
        "bf_stats             bf_stats"
        "bf_graph_repartition bf_graph_repartition"
        "bf_graph_nature      bf_graph_nature"
        "bf_articles          bf_articles"
        ;
    
    .bf__header{
        grid-area: bf_header;
    }
    
    .bf__code_nav {
        grid-area: bf_code_nav;
        display: flex;
        flex-direction: row;
        
        & > div {
            width: calc(50% - 1rem);
        }
    }
    
    .bf__stats {
        grid-area: bf_stats;
    }
    
    .bf__graph_repartition {
        grid-area: bf_graph_repartition;
    }
    
    .bf__graph_nature {
        grid-area: bf_graph_nature;
    }
    
    .bf__articles {
        grid-area: bf_articles;
    }
}
