.bf__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    .bf__stats__stat {
        
        & > span {
            display: block;
        }
        
        span.bf__stats__stat__label {
            margin-bottom: 2rem;
            margin-top: 2rem;
            
            font-weight: 600;
            text-align: center;
        }
        
        span.bf__stats__stat__data {
            text-align: center;
            font-size: 2rem;
        }
    }
}

