/* abel-regular - latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abel-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abel Regular'), local('Abel-Regular'),
       url('../fonts/abel-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/abel-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/abel-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/abel-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/abel-v8-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

/* libre-franklin-100 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/libre-franklin-v2-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Thin'), local('LibreFranklin-Thin'),
       url('../fonts/libre-franklin-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-100.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-100italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/libre-franklin-v2-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Thin Italic'), local('LibreFranklin-ThinItalic'),
       url('../fonts/libre-franklin-v2-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-100italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('../fonts/libre-franklin-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
       url('../fonts/libre-franklin-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
       url('../fonts/libre-franklin-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-600.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/libre-franklin-v2-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'),
       url('../fonts/libre-franklin-v2-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-600italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-900 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/libre-franklin-v2-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
       url('../fonts/libre-franklin-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-900.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

/* libre-franklin-900italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/libre-franklin-v2-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
       url('../fonts/libre-franklin-v2-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v2-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v2-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v2-latin-900italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
